*{
    margin: 0px;
    scroll-behavior: smooth;
}
*:focus {
    outline: none;
    border: none;
}
*{
    outline: none;
    border: none;
}
html,body{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0px;
    background: #020926;
}

/* Fontes */
.calibri-bold{
    font-family: calibri,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.calibri-bold-italic{
    font-family: calibri,sans-serif;
    font-weight: 700;
    font-style: italic;
}
.calibri-italic{
    font-family: calibri,sans-serif;
    font-weight: 400;
    font-style: italic;
}
.calibri-light{
    font-family: calibri,sans-serif;
    font-weight: 300;
    font-style: normal;
}
.calibri-light-italic{
    font-family: calibri,sans-serif;
    font-weight: 300;
    font-style: italic;
}
.calibri-regular{
    font-family: calibri,sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Lora */
.lora-italic{
    font-family: lora,serif;
    font-weight: 400;
    font-style: italic;
}
.lora-bold-italic{
    font-family: lora,serif;
    font-weight: 700;
    font-style: italic;
}
.lora-bold{
    font-family: lora,serif;
    font-weight: 700;
    font-style: normal;
}
.lora-regular{
    font-family: lora,serif;
    font-weight: 400;
    font-style: normal;
}

/* Montserrat */
.montserrat-semi-bold{
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-regular{
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #f1f1f1;
}

.gtku-bloco{
    position: relative;
    width: 50vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.gtku-logo{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    height: 85vh;
}
.gtku-rodrigo-img{
    position: absolute;
    right: 4vw;
    bottom: 0;
    height: 45vh;
    z-index: 5;
}
.gtku-nicolas-img{
    position: absolute;
    left: 4vw;
    bottom: 0;
    height: 47vh;
    z-index: 5;
}

.gtku-conteudo{
    text-align: left;
    position: absolute;
    top: 20vh;
    width: 16vw;
}

.gtku-rodrigo-focus{
    position: absolute;
    right: 4vw;
    bottom: 0;
    height: 45vh;
    z-index: 6;
    opacity: 0;
    transition-duration: 1s;
}
.gtku-nicolas-focus{
    position: absolute;
    left: 4vw;
    bottom: 0;
    height: 47vh;
    z-index: 6;
    opacity: 0;
    transition-duration: 1s;
}

.gtku-bloco h1{
    position: relative;
    font-size: 4vh;
    color: #737373;
    transition-duration: 1s;
}
.gtku-bloco h2{
    position: relative;
    font-size: 3vh;
    color: #737373;
    transition-duration: 1s;
}
.gtku-bloco p{
    position: relative;
    font-size: 2.5vh;
    color: #737373;
    margin-top: 3vh;
    transition-duration: 1s;
}

.gtku-contact{
    width: 20vw;
    height: auto;
    position: relative;
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: none;
}

.gtku-linkedin{
    position: relative;
    background: #195BFF;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

.gtku-linkedin i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    font-size: 2vh;
}

.gtku-email{
    position: relative;
    background: #020926;
    width: auto;
    height: 5vh;
    border-radius: 5vh;
    margin-left: 2.5vh;
    display: flex;
}
.gtku-email-icon{
    position: relative;
    background: #195BFF;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}
.gtku-email i{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    font-size: 2vh;
}

.gtku-email-endereco{
    position: relative;
    height: 5vh;
    padding: 2vh;
    padding-left: 0.5vw;
}
.gtku-email-endereco p{
    color: #f1f1f1;
    position: relative;
    bottom: 3.5vh;
    font-size: 1.5vh;
}